/* ========================================
   Sizing Utilities
======================================== */

.w-100   { width: 100%; }
.w-fit   { width: fit-content; }
.h-100   { height: 100% !important; }
.vh-100  { min-height: 100vh; }

.max-w-1200 { max-width: 1200px; }
.max-w-1400 { max-width: 1400px; }

.min-w-200 { min-width: 200px; }
.min-w-300 { min-width: 300px; }
.min-w-400 { min-width: 400px; }
.min-w-600 { min-width: 600px; }

.min-h-200 { min-height: 200px; }
.min-h-300 { min-height: 300px; }
.min-h-400 { min-height: 400px; }
.min-h-430 { min-height: 430px; }
.min-h-500 { min-height: 500px; }
.min-h-600 { min-height: 600px; }

.max-h-400 { max-height: 400px; }
.max-h-600 { max-height: 600px; }

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

$max-widths: (
  1200: 1200px,
  1400: 1400px,
);

$min-widths: (
  200: 200px,
  300: 300px,
  400: 400px,
  600: 600px,
);

$min-heights: (
  200: 200px,
  300: 300px,
  400: 400px,
  430: 430px,
  550: 550px,
  500: 500px,
  600: 600px,
);

$max-heights: (
  400: 400px,
  600: 600px,
);

@each $infix, $minw in $breakpoints {
  @media (min-width: $minw) {
    @each $key, $val in $max-widths {
      .#{$infix}-max-w-#{$key} { max-width: $val; }
    }
    @each $key, $val in $min-widths {
      .#{$infix}-min-w-#{$key} { min-width: $val; }
    }
    @each $key, $val in $min-heights {
      .#{$infix}-min-h-#{$key} { min-height: $val; }
    }
    @each $key, $val in $max-heights {
      .#{$infix}-max-h-#{$key} { max-height: $val; }
    }
  }
}