.w-100 {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-100 {
    height: 100%;
}

.vh-100 {
    min-height: 100vh;
}

.max-w-1200 {
    max-width: 1200px;
}

.max-w-1400 {
    max-width: 1400px;
}

.w-100 { width: 100%; }

.max-w-1200 {
    max-width: 1200px;
}

.max-w-1400 {
    max-width: 1400px;
}

@media (min-width: 768px) {

    .md-max-w-1200 {
        max-width: 1200px;
    }
}

@media (min-width: 1024px) {

    .lg-max-w-1400 {
        max-width: 1400px;
    }
}