/* Remove the default top padding on the homepage so the hero
   sits flush against the top of the viewport */
.home.one-container .site-content {
  padding-top: 0;
}

.hero .wp-block-group__inner-container {
  padding: 0 40px !important;
}

.hero .wp-block-columns .wp-block-column .wp-block-image img {
  object-fit: cover;
  height: 100%;
}

.hero {
  min-height: 500px;
}

.hero .wp-block-cover__inner-container {
  min-height: 500px;
}

.hero .wp-block-group__inner-container {
  min-height: 500px;
}

.hero .wp-block-group__inner-container .wp-block-columns {
  min-height: 500px;
}

.page-id-50 #page::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.page-id-50 .site-header {
  margin-bottom: 20px;
}

//reduce column widths at this screen width
@media (max-width: 870px) {
  .hero .wp-block-columns {
    gap: 0 !important;
  }
  .hero .wp-block-columns .wp-block-column:first-child {
    flex-basis: 55% !important;
  }
}

//center text and button on tablet/mobile
//don't have custom classes for text on screen sizes so had to code it here
@media (max-width: 781px) {
  .hero h1,
  p {
    text-align: center !important;
  }

  .hero .wp-block-buttons {
    justify-content: center;
  }
}
