.site.grid-container .wp-block-cover {
    top: -60px;
}

.wp-block-group .wp-block-group__inner-container {
    padding: 0 !important;
}

.wp-block-group .wp-block-group__inner-container h1 {
    width: 65%;
}

.wp-block-group .wp-block-group__inner-container p {
    width: 60%;
}